.formForgotPassword {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 40px;
}

.forgotPasswordTitle {
  align-items: flex-start;
  margin-top: 65px;
}

.sendBtn {
  width: 48%;
  margin-left: 4%;
}

.transBtn {
  width: 48%;
  background-color: rgba(0, 0, 0, 0);
}

.resetPasswordBtn {
  width: 100%;
  margin-top: 3vh;
}

@media only screen and (max-width: 480px) {
  .resetPasswordBtn {
    margin-top: 10vh;
  }
}
