.containerSignIn {
  text-align: center;
}

.txtCenter {
  text-align: center;
}

.logo {
  margin-bottom: -30px;
}

.formSignIn {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* color: #fff; */
}

.forgotPassword {
  align-self: end;
}

.forgotPassword span {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: var(--font-bold);
}

.loginBtn {
  margin-top: 60px;
  width: 340px;
}

@media only screen and (max-width: 480px) {
  .logoContainer {
    display: block;
    width: 100%;
    height: fit-content;
    text-align: center;
  }
  .logo {
    width: 80%;
    margin: 0;
  }
  .textColor {
    color: #fff;
  }
}
