@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* fonts */
  --font-inter: Inter;

  /* fonts weight */
  --font-bold: 700;
  --font-semibold: 600;
  --font-normal: 400;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 16px;
  --font-size-2xl: 20px;
  --font-size-3xl: 24px;
  --font-size-4xl: 28px;
  --font-size-5xl: 32px;
  --font-size-6xl: 36px;
  --font-size-7xl: 40px;
  --font-size-base: 16px;

  /* Colors */
  --primary-color: #b58d54;
  --secondary-color: #f2baaa;
  --login-color: #413a39;
  --BG-Table-color: rgba(254, 231, 226, 0.4);
  --white-color: #ffffff;
  --whiteTrans-color: rgba(255, 255, 255, 0.8);
  --black-color: #403d38;
  --gray-color: #bfbfbf;
  --cardBG-color: #fee7e2; 
  --MenuBG-color: #101010; 

  /* Semantic Colors */
  --danger-color: #ad1b20;
  --warning-color: #fac63b;
  --success-color: #63a164;

  /* Typography and iconography Colors */
  --menuText-color: var(--white-color);
  --menuTextActive-color: var(--primary-color);
  --subMenuTextActive-color: var(--primary-color);
  --subMenuText-color: var(--gray-color);
    /* Bg colors */
  --mainBg-color: var(--white-color);
  --menuBg-color: var(--MenuBG-color);
  --menuBgActive-color: var(--primary-color);
  --subMenuBg-color: var(--white-color);
  --subMenuBgActive-color: var(--black-color);
    /* Button colors */
  --mainBtn-color: var(--primary-color);
  --cancelBtn-color: var(--white-color);
  --mainBtnText-color: var(--white-color);
  --cancelBtnText--color: var(--primary-color);
  /* Table color */
  --tableHeadBg-color: var(--primary-color);
  --tableHeadText-color: var(--black-color);
  --subTableHeadBg-color: var(--secondary-color);
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
